mixin checkbox-card(values = {})
    <li class="checkbox-card">
        <input type="checkbox" id=!{values.checkboxId} name=!{values.checkboxName} value=!{values.checkboxValue} class="card-checkbox">
        <label for=!{values.checkboxId} class="card-name">!{values.cardLable}</label>
    </li> 